<!DOCTYPE html>
<html>
<head>
    <title>My Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<body>
    <div class="sidebar">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#pattern">Pattern</a></li>
            <li><a href="#about">About</a></li>
        </ul>
    </div>
    <div class="main">
        <section id="home">
            </section>
            <section id="pattern">
                <h1>Technical Scanner</h1>
                    <form>
                        <select name="pattern">
                            <option value="">-- Select a Pattern --</option>
                            {% for key in candlestick_patterns %}
                                <option value="{{ key }}" {% if pattern == key %}selected="selected"{% endif %}>{{ candlestick_patterns[key] }}</option>
                            {% endfor %}
                        </select>
    
                        <input type="submit" value="Scan" />
                    </form>
    
                    <table>
                        <tr>
                            <th>symbol</th>
                            <th>company</th>
                            <th>signal</th>
                        </tr>
                        {% for stock in stocks %}
                            {% if stocks[stock][pattern] %}
                            <tr>
                                <td>
                                    {{ stock }}
                                </td>
                                <td>
                                    {{ stocks[stock]['company'] }}
                                </td>
                                <td class="{{ stocks[stock][pattern] }}">
                                    {{ stocks[stock][pattern]}}
                                </td>
                            <tr>
                                <td colspan="3">
                                    <img src="https://finviz.com/chart.ashx?t={{ stock }}&ty=c&ta=1&p=d&s=l" />
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
            </section>
            <section id="about">
                <h1>about</h1>
                <p>some info about technical analysis library</p>
        </section>
    </div>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>
</html>
