<!DOCTYPE html>
<html>
<head>
    <title>stockify</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/screener">Technical screener</a>
            <a class="nav-item nav-link" href="/about">About</a>
            <button id="execute-function">Refresh Dataset</button>
          </div>
        </div>
      </nav>
        <div id="spinner" style="display:none;">
          
        <img src="static\css\Pulse-1s-200px.gif" alt="Loading Animation">
          <span class="sr-only">Loading...</span>
        </div>
        <div id="result"></div>
        
        <script>
          // Get a reference to the button element
var executeButton = document.getElementById('execute-function');

// Add a click event listener to the button
executeButton.addEventListener('click', function() {

  // Show the spinner
  var spinner = document.getElementById('spinner');
  $('#spinner').show();

  // Send a request to execute the function
  fetch('/execute_function')
    .then(function(response) {
      return response.text();
    })
    .then(function(result) {
      // Hide the spinner
      spinner.style.display = 'none';

      // Display the result of the function
      var resultElement = document.getElementById('result');
      resultElement.innerHTML = result;
    });
});

        </script>      
</body>
</html>
